html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Georgia, "Times New Roman", Times, Roman, serif;
}

p {
  color: purple;
  font-size: 1.3em;
}

nav a {
  text-decoration: none;
}

.intro {
  color: orange;
}
