<!DOCTYPE html>
<html lang="en">
<head>
  <title>Page Title</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no" />
  <link rel="stylesheet" href="screen.css" />
</head>
<body>
  <ul>
    <li>Thing One</li>
    <li>Thing Two</li>
    <li>Thing Three</li>
    <li>Thing Four</li>
    <li>Thing Five</li>
    <li>Thing Six</li>
    <li>Thing Seven</li>
  </ul>
  <p>
    I am a paragraph, and I am just so happy all the time!
    I am a paragraph, and I am just so happy all the time!
    I am a paragraph, and I am just so happy all the time!
    I am a paragraph, and I am just so happy all the time!
    I am a paragraph, and I am just so happy all the time!
    I am a paragraph, and I am just so happy all the time!
    I am a paragraph, and I am just so happy all the time!
    I am a paragraph, and I am just so happy all the time!
    I am a paragraph, and I am just so happy all the time!
    I am a paragraph, and I am just so happy all the time!
    I am a paragraph, and I am just so happy all the time!
    I am a paragraph, and I am just so happy all the time!

  </p>
  <footer>
    Copyright by me. Don't steal my stuff. It's so awesome.
  </footer>
</body>
</html>
